<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script>

        let token;

        $(function () {

            $("#signupButton").click(function () {

                let email = $("#signupEmail").val();
                let password = $("#signupPassword").val();
                let name = $("#signupName").val();
                let age = $("#signupAge").val();
                let gender = $('input[name=gender]:checked').val();
                let phone = $("#signupPhone").val();
                let salary = $("#signupSalary").val();
                let job = $("#signupjob").val();

                $.ajax({
                    url: "register",
                    data: {
                        email: email,
                        password: password,
                        name: name,
                        age: age,
                        gender: gender,
						phone: phone,
                        salary: salary,
                        job: job
                    },
                    type: "POST",
                    success: function (data) {
                        alert(JSON.stringify(data));
                    }
                });
            });

            $("#loginButton").click(function () {

                let email = $("#loginEmail").val();
                let password = $("#loginPassword").val();

                $.ajax({
                    url: "login",
                    data: {"email": email, "password": password},
                    type: "POST",
                    success: function (data) {
                        alert(JSON.stringify(data));
                        token = data.data

                    }
                });
            });

            $("#testButton").click(function () {

                $.ajax({
                    url: "hello",
                    type: "GET"
                    , beforeSend: function (xhr) {
                        xhr.setRequestHeader("Content-type", "application/json");
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (data) {
                        alert(JSON.stringify(data));

                    }
                });
            });

            $("#logout").click(function () {

                $.ajax({
                    url: "logout",
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Content-type", "application/json");
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (data) {
                        alert(JSON.stringify(data));

                    }
                });
            });


        });

    </script>
</head>
<body>

<h1>회원가입</h1>

ID : <input type="text" name="email" id="signupEmail"/> <br>
PW : <input type="password" name="password" id="signupPassword"/> <br>
이름 : <input type="text" name="name" id="signupName"/> <br>
나이 : <input type="number" name="age" id="signupAge"/> <br>
성별 :
    <input type="radio" name="gender" value="MALE" checked/>남
    <input type="radio" name="gender" value="FEMALE"/>여<br>
전화번호 : <input type="tel" name="phone" id="signupPhone"/> <br>
연봉 : <input type="text" name="salary" id="signupSalary"/> <br>
직업 : <input type="text" name="job" id="signupjob"/> <br>


<input type="button" value="회원가입요청" id="signupButton">

<h1>회원로그인</h1>
<input type="text" name="email" id="loginEmail">
<input type="password" name="password" id="loginPassword">
<input type="button" value="회원로그인요청" id="loginButton">

<h1>테스트요청(user)</h1>
<input type="button" value="테스트요청" id="testButton">

<h1>로그아웃</h1>
<input type="button" value="로그아웃" id="logout">


</body>
</html>